<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/feed.css">
</head>
<body>
    <header>
        <a href="/logout" role="button">Logout</a>
        <p>username:<%= user.username %></p>
        <a href="/create" role="button">create post</a>
        <a href="/profile" role="button">user profile</a>
        <a href="/exploreTags" target=”_blank” role="button">Explore Tags</a>
    </header>
    <div>
        <h1>User Feed</h1>
            <ul>
                <% for (let i = 0; i < feed.length; i++) { %>
                <li>
                    <h3><%= feed[i].title %></h3>
                    <p><%= feed[i].description %></p>
                    <p>Author: <%= feed[i].author.username %></p>
                    <p>Tags: <%= feed[i].tags_name.join(', ') %></p>
                    <p>Views: <%= feed[i].views %></p>
                    <p>Upvotes: <%= feed[i].upvotes.length %></p>
                </li>
                <% } %>
            </ul>
    </div>
</body>
</html>