<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/feed.css">
</head>
<body>
    <header>
        <a href="/logout" role="button">Logout</a>
        <p>username: <%= user.username %></p>
        <a href="/create" role="button">create post</a>
        <a href="/profile" role="button">user profile</a>
        <a href="/manageTags" role="button">Manage Tags</a>
    </header>
    <div class="feed">
        <h1>User Feed</h1>
        <div class="sort-options">
            <label for="sortSelect">Sort By:</label>
            <select id="sortSelect" onchange="sortPosts(this.value)">
                <option value="recent" <%= (sortBy === "recent") ? "selected" : "" %>>Most Recent</option>
                <option value="upvotes" <%= (sortBy === "upvotes") ? "selected" : "" %>>Most Upvotes</option>
                <option value="comments" <%= (sortBy === "comments") ? "selected" : "" %>>Most Comments</option>
            </select>
        </div>
        <ul>
            <% for (let i = 0; i < feed.length; i++) { %>
            <li>
                <h3><a href="/viewPost/<%= feed[i]._id %>"><%= feed[i].title %></a></h3>
                <p><%= feed[i].description %></p>
                <p>Author: <%= feed[i].author.username %></p>
                <p>Posted on: <%= feed[i].time %></p>
                <p>Tags:
                    <% for (let j = 0; j < feed[i].tags.length; j++) { %>
                        <a href="/viewTagPosts/<%= feed[i].tags[j]._id %>"><%= feed[i].tags[j].name %></a>
                        <% if (j !== feed[i].tags.length - 1) { %>, <% } %>
                    <% } %>
                </p>
                <p>Comments: <%= feed[i].comments.length %></p>
                <p>Votes: <span id="voteCount_<%= feed[i]._id %>"><%= feed[i].votes %></span></p>
                <div>
                    <% const userUpvoted = feed[i].upvotes.some((upvote) => upvote._id.equals(user._id)); %>
                    <% const userDownvoted = feed[i].downvotes.some((downvote) => downvote._id.equals(user._id)); %>

                    <% if (userUpvoted) { %>
                        <button id="upvoteButton_<%= feed[i]._id %>" class="upvoted" onclick="upvote('<%= feed[i]._id %>')">Upvote</button>
                    <% } else { %>
                        <button id="upvoteButton_<%= feed[i]._id %>" onclick="upvote('<%= feed[i]._id %>')">Upvote</button>
                    <% } %>

                    <% if (userDownvoted) { %>
                        <button id="downvoteButton_<%= feed[i]._id %>" class="downvoted" onclick="downvote('<%= feed[i]._id %>')">Downvote</button>
                    <% } else { %>
                        <button id="downvoteButton_<%= feed[i]._id %>" onclick="downvote('<%= feed[i]._id %>')">Downvote</button>
                    <% } %>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
    <script src="/javascript/feed.js"></script>
</body>
</html>
