<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/css/userProfile.css">
</head>
<body>
  <header>
    <h2 class="logo">LOGO</h2>
    <nav class="navigation">
      <a href="/create" role="button">Create Post</a>
      <a href="/manageTags" role="button">Manage Tags</a>
      <a href="/profile" role="button">User Profile</a>
      <button onclick="window.location.href='/logout'" class="btn-LoginPopup">Logout</button>
    </nav>
  </header>

  <div class="userProfile"> 
    <h1>Welcome to Your Profile</h1>
    <h2>Username: <%= user.username %></h2>

    <h3>Your Posts:</h3>
    <ul>
      <% posts.forEach((post) => { %>
        <li>
          <h3><a href="/viewPost/<%= post._id %>"><%= post.title %></a></h3>
          <p><%= post.description %></p>
          <p>Author: <%= post.author.username %></p>
          <p>Posted on: <%= post.time %></p>
          <p>Tags: 
            <% post.tags.forEach((tag, index) => { %>
              <a href="/viewTagPosts/<%= tag._id %>"><%= tag.name %></a><%= index < post.tags.length - 1 ? ', ' : '' %>
            <% }); %>
          </p>
          <p>Comments: <%= post.comments.length %></p>
          <p>Votes: <span id="voteCount_<%= post._id %>"><%= post.votes %></span></p>
          <div>
            <% if (post.upvotes.includes(user._id)) { %>
              <button id="upvoteButton_<%= post._id %>" class="upvoted" onclick="upvote('<%= post._id %>')">Upvote</button>
            <% } else { %>
              <button id="upvoteButton_<%= post._id %>" onclick="upvote('<%= post._id %>')">Upvote</button>
            <% } %>

            <% if (post.downvotes && post.downvotes.includes(user._id)) { %>
              <button id="downvoteButton_<%= post._id %>" class="downvoted" onclick="downvote('<%= post._id %>')">Downvote</button>
            <% } else { %>
              <button id="downvoteButton_<%= post._id %>" onclick="downvote('<%= post._id %>')">Downvote</button>
            <% } %>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>

  <script src="/javascript/userProfile.js"></script>
</body>
</html>